body{
    background-image: url(IPL-blog-cover-image.jpg);

}
h3{
    text-align: center;
}


h1{
    color:brown;
    text-align: center;
    
}
#one{
    color:rgb(40,148,146);

}
div {
    
    border-style:solid;
    border-color:darkblue;
    border-width:10px;
    background-color: rgb(0, 255, 213);
    width: 50%;
    margin:auto;

}
#MI{
    border-style:solid;
    border-color:blue;
    border-width:10px;
    background-color: rgb(24, 24, 17,0.720);
    width: 50%;
    margin:auto;

}
.team
{
    border-style:solid;
    border-color:red;
    border-width:10px;
    background-color: rgba(139, 20, 70, 0.993);
    width: 50%;
    margin:auto;


}
li{
    margin-left: auto ;
}